.vscode
*.pyc
src/__pycache__/client.cpython-38.pyc
src/__pycache__
src/.idea/vcs.xml
src/.idea/src.iml
src/.idea/modules.xml
src/.idea/misc.xml
src/.idea/workspace.xml
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/dictionaries/rows.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/py-twitch.iml
.idea/vcs.xml
.idea/workspace.xml
src/TMP.txt
src/config.py
src/test_chat_bot.py
