*__pycache__*
*.pytest_cache*
/ttv/api/Api_docstring_generator.py
/examples/irc/performance.py
/examples/irc/channel_preformance.py
/ttv/experiments.py
/examples/irc/irc_msg_performance.py
tests/test_irc/log.txt
tests/test_irc/privmsg_log.txt
tests/test_irc/smart_tags.txt
tests/test_irc/tags.txt
/tests/test_irc/flags_listener.py
